<h1>Reset Password</h1>

  <%= form_tag edit_password_users_path , :method => :put do %>
  <div class="field">
    <%= label_tag :New_password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>
  	<%= submit_tag "Update" %>
<% end %>