<div class="page-header">
  <h3>Deactivated Customers</h3>
</div>

<table class="table table-striped" style="width:95%;border:1px solid; align:center;" align="center">
<thead>
  <div class="abc">
    <tr> 
      <th>Name</th>
      <th>Phone No</th>
      <th>Fax</th>
      <th>Legal Name</th>
      <th>Web Site</th>
      <th>Status</th>
    </tr>
 </div>
  </thead>
  <tbody>
    
   <% @customers.each do |customer| %>
   <% if customer.status == 0  %>
      <tr>
        <td><b><%= customer.name %></b></td>
        <td><b><%= customer.phoneno %></b></td>
        <td><b><%= customer.fax %></b></td>
        <td><b><%= customer.legal_name %></b></td>
        <td><b><%= customer.website_url %></b></td>
        <td><%= link_to "Activate", activate_customer_path(customer), :class => 'btn' %>
        </tr>
      <% end %>
    <% end %>
    
  </tbody>
</table>
<div style="float:right; padding-right:28px;">
<%= paginate @customers %>
 </div>